@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-nunito-sans), "Nunito Sans", sans-serif;
  }

  body {
    font-family: var(--font-nunito-sans), "Nunito Sans", sans-serif;
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 14;
  }
}

/* fonts */

/* your custom CSS here */
